* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
 
.contenedor {
	background:#F5D0A9;
	width:90%;
	max-width: 1000px;
	margin:auto;
 
	
	display:flex;
	flex-flow:row wrap;
}
 
body {
	background:#;
}
 
header {
	background:#993366;
	width:100%;
	padding:20px;
 
	
	display: flex;
	justify-content:space-between;
	align-items:center;
 
	flex-direction:row;
	flex-wrap:wrap;
}
 
header .logo {
	color:#fff;
	font-size:30px;
}
 
header .logo img {
	width:480px;
	vertical-align: center;
}
 
header .logo a {
	color:#fff;
	text-decoration: none;
	line-height:20px;
}
 
header nav {
	width:50%;
	
 
	display:flex;
	flex-wrap:wrap;
	align-items:center;
}
 
header nav a {
	background:#ffe6f0;
	color:#800040;
	text-align: center;
	text-decoration: none;
	padding:10px;
 
	/* Flexbox */
	flex-grow:1;
}
 
header nav a:hover {
	background:#862d59;
	color:#fff;
}
 
.main {
	background:#ffe6f0;
	color: #660066;
	padding:20px;
 text-align: justify-all;
	flex:1 1 70%;
	/*Artículo*/
}
 
.main article {
	margin-bottom: 10px;
	padding-bottom:10px;
	border-bottom:1px solid #660066;
}
 
.main article:nth-last-child(1){
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom:none;
}
 
aside { /*fondo derecho*/
	background:#4d004d;
	padding:20px;
	
	flex:1 1 30%;
	
 
	display: flex;
	flex-wrap:wrap;
	flex-direction:column;
	justify-content:flex-start;
}
 
aside .widget {
	background: #ffe6f0;
	height:150px;
	margin:10px;
}
 
footer {
	background:#993366;
	width: 100%;
	padding:10px;
 
	/* Flexbox */
	display: flex;
	flex-wrap:wrap;
	justify-content:space-between;
}

footer .Creditos {
	color: #ccc
}
 
footer .links {
	background:#ffe6f0;
	display:flex;
	flex-wrap:wrap;
}
 
footer .links a {
	flex-grow:1;
 
	color:#800040;
	padding:10px;
	text-align: center;
	text-decoration:none;
}
 
footer .links a:hover {
	background:#862d59;
	color:#fff;
}
 
footer .social {
	background:#711DB6;
}
 
footer .social a {
	color:#fff;
	text-decoration: none;
	padding:10px;
	display: inline-block;
}
 
@media screen and (max-width: 800px) {
	.contenedor {
		flex-direction:column;
	}
 
	header {
		flex-direction:column;
		padding:0;
	}
 
	header .logo {
		margin:20px 0;
	}
 
	header nav {
		width: 100%;
	}
 
	aside {
		flex-direction:row;
		flex:0;
	}
 
	aside .widget {
		flex-grow:1;
	}
}
 
@media screen and (max-width: 600px) {
	aside {
		flex-direction:column;
	}
 
	footer {
		justify-content:space-around;
	}
}
.social {
	position: fixed; /* Anclaje*/
	left: 0; /* Establecemos la barra en la izquierda */
	top:150px; /* 200px de arriba hacia abajo */
	z-index: 2000; /* Para que no se encimen */
}
 
	.social ul {
		list-style: none;
	}
 
	.social ul li a {
		display: inline-block;
		color:#fff;
		background: #000;
		padding: 10px 15px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease; /* Transición */
	}
 
	.social ul li .icon-facebook {background:#660066;} 
	.social ul li .icon-twitter {background: #e600ac;}
	.social ul li .icon-google-plus {background: #e6005c;}
	.social ul li .icon-instagram {background: #730099;}
	.social ul li .icon-mail2 {background: #ff66ff;}
    
 .social ul li a:hover {
		
		background: #; /* cambia al poner el mouse */
		padding: 15px 30px; /* crece al poner el mouse */
	}

	.social ul li .icon-facebook:hover {background: #4d004d; color: #fff;}
	.social ul li .icon-twitter:hover {background: #b30086; color: #fff}
	.social ul li .icon-google-plus:hover {background:#800033; color:#fff;}
	.social ul li .icon-instagram:hover {background:#330033; color:#fff;}
	.social ul li .icon-mail2:hover {background:#b300b3; color:#fff;}









	